<% layout('/layouts/boilerplate')%>
<div class="mb-5">
    <div class="position-relative text-white text-center"
        style="background-image: url('/images/picture2.png'); background-size: cover; background-position: center; height: 280px;">
        <div class="position-absolute top-0 start-0 w-100 h-100" style="background-color: rgba(0,0,0,0.5);"></div>
        <div class="position-relative py-5">
            <h1 class="display-5 fw-bold">Học hôm nay – Dẫn lối ngày mai!</h1>
            <p class="lead">Mỗi giờ học bạn đầu tư hôm nay chính là bước đi vững chắc cho tương lai.</p>
        </div>
    </div>
</div>
    <h1>Các khóa học đã đăng ký</h1>

    <% for (let course of courses) {%>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if(course.images.length) {%>
                        <img src="<%=course.images[0].url%>" alt="" class="img-fluid">
                        <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=course.title%>
                        </h5>
                        <h5 class="card-title">
                            <%=course.location%>
                        </h5>
                    </div>
                    <a class="btn btn-primary" href="courses/<%=course._id%>">View <%=course.location%></a>
                </div>
            </div>
        </div>
        <% } %>

            <script>
                const courses = { features: <%- JSON.stringify(courses) %>};
            </script>