<% layout('/layouts/boilerplate')%>

<div class="">
    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center">
                <h2>Participant Details</h2>
            </div>
            <div class="card-body">
                <h4>Full Name: <%= participant.name %></h4>
                <p><strong>Entry Number:</strong> <%= participant.entry_number %></p>
                <p><strong>Nationality:</strong> <%= participant.nationality %></p>
                <p><strong>Age:</strong> <%= participant.age %></p>
                <p><strong>Sex:</strong> <%= participant.sex %></p>
                <p><strong>Passport No:</strong> <%= participant.passport_no %></p>
                <p><strong>Email:</strong> <%= participant.e_mail %></p>
                <p><strong>Mobile Number:</strong> <%= participant.mobile_num %></p>
                <p><strong>Address:</strong> <%= participant.current_address %></p>
                <p><strong>Hotel:</strong> <%= participant.hotel_name %></p>
                <p><strong>Race Result:</strong> <%= participant.race_result %>
                    <% if(participant.race_result) {%>
                        m
                        <% } %>
                </p>
            </div>
            
        </div>
        <% if(currentUser && currentUser._id == '675da20f3dfdaa4f789ffa00') {%>
        <a href="/members/<%= participant._id %>/edit" class="btn btn-primary">Edit</a>
        <form action="/members/<%=participant._id %>?_method=DELETE" method="POST" class="d-inline">
            <button class="btn btn-danger">DELETE</button>
        </form>
        <form action="/participants/accepted" method="POST" class="validated-form d-inline" novalidate>
            <button class="btn btn-success">Accept</button>
        </form>
        <% } %>        
    </div>
    
</div>